/* just adding the color */
h1 {
    font-size: 3em;
    font-family: "Sintony", sans-serif;
    margin: 0.5em 0 0.2em;
}

h2{
    font-size: 1.5em;
    font-family:"Poppins", sans-serif ;
    margin: 0 0 1em;
}
/* making a class for color */
.is-darkblue{
    color: rgb(33, 40, 51);
}

.is-blue{
    color: rgb(6,131,255);
}

.is-teal{
    color: rgb(147, 223, 244);
}
p{
    font-size: 1em;
    font-family:"Poppins", sans-serif ;
    margin: 0;
}

.ring{
    width: 16em;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(6,131, 255), rgb(147, 223, 244));
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em 5em;
    box-shadow: 0 2em 4em rgba(0,0,0,0.15);
}

.ring_center{
    width: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    color: rgb(33, 40, 51);
    text-align: center;
    box-shadow: inset 0 2em 4em rgba(0,0,0,0.15);
}

.ring_center * {
    margin: 0;
    line-height: 1.2;
}

.bottom_bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5em;
    background: rgb(242, 242, 242);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;

}

.display{
    position: fixed;
    bottom: 10em;
    left: 3em;
    width: 80%;
    height: 8em;
    background: rgb(242, 242, 242);
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 1em;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
    font-family: "Poppins", sans-serif;
    color: rgb(33, 40, 51);
}

body{
    background-image: linear-gradient(to bottom, rgb(240, 243, 245), rgb(147, 223, 244));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
}
/* targetting the container id */
#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
